[submodule "submodule/TarsCpp"]
	path = submodule/TarsCpp
	url = https://github.com/TarsCloud/TarsCpp.git
[submodule "submodule/TarsWeb"]
	path = submodule/TarsWeb
	url = https://github.com/TarsCloud/TarsWeb.git
