**/.DS_Store
**/.idea/

/build/
/clion-build/

ConfigServer/ConfigF.cpp
ConfigServer/ConfigF.h
NodeServer/Node.cpp
NodeServer/Node.h
NodeServer/NodeF.cpp
NodeServer/NodeF.h
NotifyServer/NotifyF.cpp
NotifyServer/NotifyF.h
RegistryServer/NodeDescriptor.h
RegistryServer/QueryF.cpp
RegistryServer/QueryF.h
RegistryServer/Registry.cpp
RegistryServer/Registry.h
RegistryServer/RegistryDescriptor.h
